GitHub\ Desktop/
Desktop/
GitHubDesktop/
GitHub-Desktop/
github
spotify/Users/
spotify/prefs/
spotify/
Spotify/
GitHub Desktop/
GitHub Desktop/Cache/Cache_Data/b10900ebbae82969_0
GitHub Desktop/Cache/Cache_Data/a58fd31ab5a32cb6_0
GitHub Desktop/Cache/Cache_Data/a58fd31ab5a32cb6_0
GitHub Desktop/Cache/
.env
GitHub Desktop/Cache/Cache_Data/a58fd31ab5a32cb6_0
Cache
cache
spotify/Users/31a4vdgtlg3kgxftzee4imo3mkw4-user/pending-messages
spotify/Users/31a4vdgtlg3kgxftzee4imo3mkw4-user/pending-messages
*.ini
spotify/Users/31a4vdgtlg3kgxftzee4imo3mkw4-user/pending-messages
