'GitHub Desktop'/
"GitHub Desktop"/
GitHub Desktop/
Desktop/
GitHub_Desktop/
GitHub-Desktop/
github
GitHub Desktop/
GitHub Desktop/Cache/Cache_Data/b10900ebbae82969_0
GitHub Desktop/Cache/Cache_Data/a58fd31ab5a32cb6_0
