 * {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Material Design Icons, Lexend, Iosevka Nerd Font;
  }
  window#waybar {
    background-color: rgba(24, 24, 37, 0.75);
    border-radius: 20px;
    color: #cdd6f4;
    font-size: 18px;
    transition-property: background-color; 
    transition-property: background-color;
    transition-duration: 0.5s; 
  }
  #workspaces button {
    background-color: transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    color: #cba6f7;
    transition: all 400ms cubic-bezier(0.250, 0.250, 0.555, 1.425);
  }

  #workspaces button.active {
    color: #f5e0dc;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  }
  #workspaces button.urgent {
    background-color: #eba0ac;
  }
  #window{
    font-weight: 700;
    font-size: 20px;
    font-family: "Iosevka Term";
  }

