* {
    font-size:64px;
    background-image: none;
}
window {
	background-color:rgba(17, 17, 27, 0.8);
}
button {
    color: #cba6f7;
	background-color: #181825;
	border-style: solid;
	border-width: 2px;
}
